 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template driven form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

  <div class="container">
    <h1>Registration form</h1>

    <form #register="ngForm" (ngSubmit)="register.form.valid && registerFn()">
      <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input type="text" class="form-control" id="username" placeholder="Usename" [(ngModel)]="form.username" name="username" 
        #username="ngModel"  required maxlength="32" minlength="8" [pattern]="alphabetregex" [ngClass]="{error : username.errors && username.touched}">
        <div *ngIf="username.errors && username.touched">
          <small class="text-danger" *ngIf="username.errors['required']">Username is required</small>
          <small class="text-danger" *ngIf="username.errors['maxlength']">Maximum 32 characters are allowed</small>
          <small class="text-danger" *ngIf="username.errors['minlength']">Minimum 8 characters are allowed</small><br>
          <small class="text-danger" *ngIf="username.errors['pattern']">Invalid username</small>

        </div>
      </div>

      <div>
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="email" [(ngModel)]="form.email" name="email" 
        #email="ngModel" required email  [ngClass]="{error : email.errors && email.touched}">
        <div *ngIf="email.errors && email.touched" >
          <small class="text-danger" *ngIf="email.errors['required']">Email is required</small>
       
        </div>
      </div>
      
      <div>
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" id="address" placeholder="address" [(ngModel)]="form.address" name="address"
         #address="ngModel" required [ngClass]="{error : address.errors && address.touched}">
         <div *ngIf="address.errors && address.touched">
          <small class="text-danger" *ngIf="address.errors['required']">Address is required</small>
     
        </div>
      </div>

      <div>
        <label for="dob" class="form-label">Date Of Birth</label>
        <input type="text" class="form-control" id="dob" placeholder="dob" required [(ngModel)]="form.dob" name="dob" 
        #dob="ngModel" [ngClass]="{error : dob.errors && dob.touched}"  [pattern]="Dateregex">
        <div *ngIf="dob.errors && dob.touched">
          <small class="text-danger" *ngIf="dob.errors['required']">Date of Birth is required</small>
          <small class="text-danger" *ngIf="dob.errors['pattern']">Date of Birth must be a valid date in the format YYYY-MM-DD</small>
        </div>
      </div>

      <div>
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" placeholder="password" [(ngModel)]="form.password" 
        name="password" required #password="ngModel" [ngClass]="{error : password.errors && password.touched}" [pattern]="passreg">
        <div *ngIf="password.errors && password.touched">
          <small class="text-danger" *ngIf="password.errors['required']">Password is required</small>
          <small class="text-danger" *ngIf="password.errors['pattern']">Pattern must be a combination of alphabets special characters,numbers </small>
        </div>
      </div>

      <div>
        <label for="phone" class="form-label">Phone</label>
        <input type="number" class="form-control" id="phone" placeholder="phone" [(ngModel)]="form.phone" 
        name="phone" required minlength="10" maxlength="10" [pattern]="integerRegex"
        #phone="ngModel" [ngClass]="{error : phone.errors && phone.touched}">
        <div *ngIf="phone.errors && phone.touched">
          <small class="text-danger" *ngIf="phone.errors['required']">Phone number is required</small>
          <small class="text-danger" *ngIf="phone.errors['minlength']">Invalid</small><br>
          <small class="text-danger" *ngIf="phone.errors['pattern']">Please enter a valid Phone Mumber</small>
        </div>
      </div>

       <div>
         <input type="submit" value="Save" class="mt-3  btn btn-success" [disabled]="register.form.status==='INVALID'">
        </div>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>